* {
  scroll-behavior: smooth;
  color:#656565;
}

body{
  margin: 0px;
}

.navbar{
  position:relative;
    left: 0;
    top: 0;
    width: 100%;
  display: flex;
  background-color: #454D5C;
  justify-content: space-between;
}


.name-logo{
  display: flex;
  top:0;
  left:0;
  /*background: linear-gradient(to right,rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));*/
  /*backdrop-filter: blur(10px);*/
  padding-right: 10px;
}

.name-logo img{
  margin-left: 10px;
}
.name-logo h1{
  font-family: 'Edu QLD Beginner', cursive;
  font-size: 2em;
  color:#ECE5D8;
  font-weight: 300;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .logo-accueil{
  padding: 0px 0px;
}

.navbar .icon {
  display: none;
}

.liens{
  justify-content: space-between;
  margin: auto;
}

.nav-item
{
    color:#ECE5D8;
    font-weight:bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 80px;
    display: inline-block;
    position: relative;
}



.nav_profil
{
  display: flex;
  top:0;
  left:0;
  margin: 0 0;
  padding: 20px 20px;
}

.lien_profil
{
  color:#ECE5D8;
  text-decoration: none;
  padding: 5em 0px;
}


header img,
header h1 {
  display:inline-block;
  vertical-align:middle;
}

header img {
width: 7em;
}

header h1 {
margin-left:1em;
}



.container{
  display:flex;
}

.ligne{
  flex-direction: row;
}

.element-flexible{
  font-family: 'Kantumruy Pro', sans-serif;
  width: 25%;
  height: 700px;
  background-color: rgba(255,255,255,0.13);
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.226);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 5px;
  margin-top: 20px;
}

.element-flexible-lib {
  display: block;
  place-items: center;
  font-family: 'Kantumruy Pro', sans-serif;
  width: 50%;
  height: 580px;
  background-color: rgba(255,255,255,0.13);
  padding: 10px 20px;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.226);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: auto;
  margin-top: 20px;
}

.button-lib {
  font-family: 'Kantumruy Pro', sans-serif;
  width: 40%;
  height: 15%;
  margin-top: 3%;
  border-radius: 15px;
  background-color: #454D5C;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
}


.form{
  display: block;
  place-items: center;
  font-family: 'Kantumruy Pro', sans-serif;
  width: fit-content;
  height: fit-content;
  background-color: rgba(255,255,255,0.13);
  padding: 20px 50px;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.226);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"],
.form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #454D5C;
}

.form input[type="submit"] {
  width: 100%;
  background-color: #454D5C;
  color: white;
  border: none;
  cursor: pointer;
}

.form a {
  text-decoration: none;
  color: #454D5C;
}

.form label{
  margin-bottom: 10px;
}

.form option,
.form select{
  font-weight: 600;
  backdrop-filter: blur(10px);
}

.form textarea{
  width: 100%;
  resize: vertical;
  max-height: 220px;
  min-height: 50px;
  border-radius: 15px;
  font-size: large;
}

.messages{
  place-items: center;
  text-align: center;
}





.profile
{
  height: auto;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.profile *{
  font-family: 'Poppins',sans-serif;
  color: #444c5b;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.profile h3{
  
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.profile .button{
  background-color: #454d5c;
  color: #ECE5D8;
  border-radius: 15px;
}

#bouton-deco
{
  text-decoration: none;
  color: #ECE5D8;
}

.iframe{
  width:100%;
  float:left;
  text-align:center;
}



.list{
  flex-basis: 80%;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #444c5b rgba(255,255,255,0.13); /* scroll thumb and track */
}

.table{
  width: 99%;
  height: 550px;
  background-color: rgba(255,255,255,0.13);
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  margin: 5px;
  margin-top: 20px;
}

/*-- pour scroll actif --*/
.cadre-table-scroll {
  border-radius: 10px;
  height: 550px;
  overflow-y: scroll;
}

.table-scroll thead th {
  position: sticky;
  top: 0px;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
}

.cadre-table-scroll::-webkit-scrollbar {
  display: none;
}

th{
  background-color: #444c5b;
  border-radius: 5px;
  color: #ffffff;
}

td{
  padding-top: 20px;
  cursor: pointer;
}

.pannel{
  flex-basis: 20%;
  overflow-y: scroll;
  height:700px;
}

.pannel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pannel {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.infos{
  background-color: #38465b2d;
  border: 2px solid #38465b;
  border-radius: 10px;
}


body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Kantumruy Pro', sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

p{
  font-weight: 500;
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}



.cadre{
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 30%;
  right: 30%;
  background: rgba(171, 218, 212, 0.638);
  border: 10px solid rgba(46, 10, 79, 0.648);
  border-radius: 20px;
}
.cadre div{
  margin-left: 50px;
}

-------------------------------------

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f6f2;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -100px;
    bottom: -130px;
}
.login{
    height: 520px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.33);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.login *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #7b7b7b;
}
.button{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #454D5C;
   text-align: center;
}
footer p{
  color: #ECE5D8;
}

.accueil{
  margin: 5% ;
}

.accueil p{
  margin-left: 2%;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;

}
















@media screen and (max-width: 530px) {
  /* Cacher la colonne de description sur les écrans étroits */
  .table .description-column {
      display: none;
  }

/*MENU DEROULANT*/
  .topnav {
    overflow: hidden;
    background-color: #ECE5D8;
    position: relative;
    z-index: 999;
  }
  
  .topnav #myLinks {
    display: flex;
    float: right;
    right: 33%;
    margin-top: 7%;
    position: relative;
    text-align: center;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
  }
/*Fin MENU*/

  .element-flexible-lib{
    margin-top: 10%;
    width: 100%;
  }
  

}

/* Breakpoint pour les écrans de petite taille */
@media screen and (max-width: 844px) {
  body {
      font-size: 14px;
      margin-top: 5%;
  }

  .logo-accueil h1{
    display: none;
  }

  .logo-accueil img{
    width: 70px;
    margin-top: 5px;
  }

  .name-logo {
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 10px;
  }

  .nav-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .nav_profil {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 0px 0px 10px 0px;
  }


  .container{
    display: block;
  }
  
  .container h1{
    font-size: 20px;
  }

  .table{
    margin-top: 0;
  }

  .element-flexible,
  .pannel {
      width: 100%;
  }

  .cadre-table-scroll {
      overflow-x: auto;
  }

  .list{
    padding: 20px 2px;
    margin: 8% 0%;
    height: 350px;
    overflow: auto;
  }
  .list-lib{
    padding: 20px 2px;
    margin: 8% 0%;
    height: 600px;
    overflow: auto;
  }

  .pannel{
    height: 350px;
    overflow: auto;
  }
  

  tbody {
    max-height: 2px;
    overflow: hidden;
  }


  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    font-size: 25px;
    margin-right: 20px;
  }

  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .copyright{display: none;}

  /*MENU DEROULANT*/
  .topnav {
    overflow: hidden;
    background-color: #ECE5D8;
    z-index: 999;
  }
  
  .topnav #myLinks {
    display: none;
    flex-direction: column;
    float: left;
    left: 0%;
    margin-top: 3%;
    position: relative;
    text-align: left;
  }
  
  .topnav a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
  }
/*Fin MENU*/

  .form{
    position: relative;
    margin-top: 20%;
  }

}



/* Breakpoint pour les écrans de grande taille */
@media screen and (min-width: 1025px) {
  body {
      font-size: 18px;
  }

  .nav-item {
      margin-right: 20px;
  }


  .element-flexible {
      width: 60%;
  }

  .pannel {
      width: 40%;
  }

  .cadre-table-scroll {
      overflow-x: auto;
  }

  .table {
      width: 100%;
  }

  .navbar a.icon {
    display: none;/*MENU*/
  }
  
  /*MENU DEROULANT*/
  .topnav {
    overflow: hidden;
    background-color: #ECE5D8;
    z-index: 999;
  }
  
  .topnav #myLinks {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .topnav a {
    color: white;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
  }

  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }
  
  .nav-item:hover
  {
    transition:1s;
    color:#ffe68e;
  }
  .nav-item::before
  {
    width: 0;
    bottom: 10px;
  }
  .nav-item:hover::before {
    width: 100%;
  }
  .nav-item:hover {
    opacity: 1;
  }
  .nav-item::before {
    transition: 500ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #ffe68e;
  }
/*Fin MENU*/
}

#submitButton.disabled
{
    background-color: #808080;
    cursor: not-allowed;
}

#submitButton.disabled:hover
{
    background-color: #808080;
}